/* Colours */
$dark-grey:#606162;
$sky-blue:#33A9D7;
$blue:#2286AE;
$off-white:#F7F7F7;
$white:#ffffff;
$light-grey:#E6E6E6;
$rose-red:#D7333B;

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Open+Sans&display=swap');

/* Typography */
$heading: 'Open-Sans', sans-serif;
$body: 'Montserrat', sans-serif;



