// import bootstrap 
@import "~bootstrap/scss/bootstrap";
@import "./var.scss";

body{
    overflow-x: hidden;
}

// Container

.movie-container {
    margin-top: 3rem;
}

.search-container {
    margin: 3rem 1rem 0rem 1rem;
}

// Search 

.search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);

    input {
        height: 60px;
        text-indent: 5px;
        border: 2px solid #d6d4d4;
    
        &:focus{
            box-shadow: none;
            border: 2px $mint solid;
        }
    }

    .fa-search {
        position: absolute;
        top: 20px;
        left: 16px
    }

    .search-button {
        position: absolute;
        top: 5px;
        right: 5px;
        height: 50px;
        width: 75px;
    }

    
}

//Nav
.nav-logo {
    width: 160px;
}

.dark {
    background-color: $dark-blue;
}

.nav-link {
    color: $off-white !important;    
    &:hover {
        color: $mint !important;
    }
}

.nav-items {
    font-weight: 600;
}

.is-active {
    color: $mint !important;
    font-weight: 600;
}

//Btn
.btn-primary {
    background-color: $mint;
    color: $dark-grey;
    border: $mint;

    &:hover {
        background-color: $dark-mint;
    }

    &:active {
        background-color: $dark-mint !important;
    }

    &:focus {
        background-color: $orange !important;
        border: none;
        box-shadow: none;
    }
}

.btn-secondary {
    background-color: $orange;
    color: $dark-grey !important;
    border: $mint;
    margin-right:10px;
    font-weight: 600;

    &:hover {
        background-color: $light-mint;
    }

    &:active {
        background-color: $light-mint !important;
    }

    &:focus {
        background-color: $light-mint !important;
        border: none;
        box-shadow: none;
    }
}

//Movie Card

.movie-grid {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 1.5rem auto;

    @media (max-width: 480px) {
        margin: 0.5rem auto;
    }
}

.movie-card {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100%;
    padding:10px;
    margin: 10px auto;
    background-color: $dark-blue;
    border-radius: 10px;
    position: relative;
    color: $off-white;

    &:hover {
        background-color: $mint;
        color: $dark-grey !important;
    }

    @media (max-width: 480px) {
        flex-direction: row;
        width: 95vw;
        padding:10px;
        height: auto;
    }
}

.poster-container {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;

    @media (max-width: 480px) {
        width: 30%;
        height: auto;
    }

    .poster-link {
        padding: 0 !important;
    }
    .poster {
        @media (max-width: 480px) {
            width: 110px;
            border-radius: 5px;
        }
        
    }
    .rating {
        display: flex;
        padding: 5px 15px;
        justify-content: center;
        align-items: center;
        color: $dark-grey;
        background-color: $orange;
        box-shadow:  
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
        position: absolute;
        font-weight: 700;
        top: 0% !important;
        left: 85% !important;
    
        .star{
            margin-right: 5px;
        }
    
    }
}

.content-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    justify-content: center;
    align-items: center;

    @media (max-width: 480px) {
        width: 70%;
        align-items: flex-start;
    }
    
    .title {
        margin: 10px;
        font-size: 1rem;   
    }

    .mobile-text {
        @media (max-width: 480px) {
            text-align: left;
        }
    }

    .desc {
        font-size: 0.9rem;
        line-height: 1.5em;
        margin: 10px;
    }
}

// Carousel 

.img-carousel {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.carousel-item::after {
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: #000 !important;;
    opacity:0.5 !important;
}


.carousel-caption {
    position: absolute;
    top: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    height: 100%;
    z-index: 2;

    .hero-title {
        text-align: left;
    }

    p {
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
        width: 550px;
    }

    .watch-btn {
        margin-right: 0;
        width: 200px;
    }
}


// Film Page
.details-content {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.6);    
    }

    &__poster-container {
        border: solid 7px $off-white;
        border-radius: 5px;
        z-index: 1;
        

        .poster {
            height: 500px;
        }
    }

    &__info {
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 550px;

        .header {
            display: flex;
            align-items: center;
        }

        .rating {
            color: $dark-grey;
            background-color: $orange;
            padding: 5px 15px;
        }

        .title{
            color: $off-white;
            margin: 0;
        }
        .genres-container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            color: $dark-grey;

            .genres{
                padding: 5px 20px;
                margin-right: 15px;
                background-color: $mint;
                border-radius: 15px;
                font-weight: 600;
            }
        }

        .description{
            color: $off-white;
        }

        .trailer-btn{
            padding: 5px 20px;
        }
        
    }
}



// Other styling

.page-title {
    display: flex;
    justify-content: center;
    padding: 30px 20px 0px;
    font-weight: 700;
    color: $dark-blue;
}

.card-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;

    .watch-btn {
        width: 120px;
        &:hover {
            background-color: $dark-blue !important;
            color: $off-white !important;
        }
    }    

    .icons {
        display: flex;
        justify-content: center;
        align-items: center;
    
        .icon-btn {
            color: $orange;
            font-size: 18px;
            padding: 10px;
    
            &:hover {
                color: $dark-blue;
            }

        }

        .details{
            font-size: 25px !important;
            &:hover {
                color: $mint;
            }
        }
    }
}

