// Colours

$black: #917d7d;
$white: #ffffff;
$dark-grey: #282828;
$off-white: #F4F4F4;
$dark-mint: #5FCEAC;
$mint: #6BEDC8;
$light-mint: #A6F4DE;
$dark-blue: #273963;
$blue: #5C7ABF;
$light-blue: #86A7EA;
$orange: #F4A70F;